@{
    ViewBag.Title = "Home Page";
    int i = 1;
}

<body>
    <div>
        <h1>Список пользователей </h1>
    </div>
</body>
<div>
    <table>
        <thead>
            <tr style="border-bottom:2px solid black">
                <th></th>
                <th class="padding-table">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.userList)
            {

                <tr style="border-bottom:1px solid black" data-userid="@item.UserId" class="string" data-myId="@Model.myId">
                    <td class="padding-table">
                        @i
                    </td>
                    <td class="padding-table">
                        @item.Email
                    </td>
                </tr>
                i = i + 1;
            }
        </tbody>
    </table>
</div>


<style>
    .padding-table {
        padding: 10px;
    }
</style>